:root{
    --teal-color:teal;
    --gold-color:gold;
    --goldenrod-colr:goldenrod;
    --font-sm-w:100;
    --font-dm-w:500;
    --font-xl-w:700;
    --mid-heigth:50vh;
    --full-height:100vh;
    --mid-width:50%;
    --full-width:100%;
    --font-z-2ch:2ch;
    --font-z-6ch:6ch;
    --font-z-8ch:8ch;
    --text-align-center:center;
}
.projectBody{
    background-color: rgb(189, 189, 189);
    margin-top: 170vh;
    margin-bottom: 0vh;
    height: fit-content;
    width: 100%;
}
.IntroHeaderText{
    margin: 2px;
}
.IntroHeaderText .h1Text{
    font-variant: small-caps;
    color: var(--goldenrod-colr);
}
.IntroHeaderText .h1Text .span{
    font-variant: small-caps;
    font-weight: var(--font-xl-w);
    font-size: var(--font-z-2ch);
    color: var(--teal-color);
}
@media screen and (max-width:769px)
{
    .projectBody{
        margin-top: 405vh;
        height: fit-content;
        width: 100%;
        margin-bottom: 0vh;
    }
}