/*ader*/
:root{
    --color-primary:teal;
    --color-primary2:rgb(255, 255, 255)l;
}
.header-container{
    background-image: url("./images/walling-g9bohm9h29Q-unsplash.jpg");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    display: flex;
    justify-content: center;
}
.header-container .mian-text{
    position: absolute;
    transform: translateY(50vh);
    color: gold;
    text-align: center;
}
.header-container .mian-text .p-text{
    font-size: 10ch;
    font-weight: 100;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-container .mian-text .p-text .span-text{
    color: var(--color-primary);
    font-size: 6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.mian-text .typed-text{
    font-variant: small-caps;
    font-size: 3ch;
    font-style: italic;
}
.btn{
    margin: 2rem;
    color: var(--color-primary2);
    width: 300px;
    height: 0%;
    padding: 2% 2%;
    background-color: var(--color-primary);
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
    font-size: 18px;
    box-shadow: inset 50px 0 0 0 gold;
    overflow: hidden;
}
.btn:hover{
    box-shadow: inset -50px 0px 0px 0px gold;
    background-color: var(--color-primary);
}
/*Media start*/
@media only screen and (max-width:760px) {
    .header-container{
        background-image: url("./images/walling-g9bohm9h29Q-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 120vh;
        display: flex;
        justify-content: center;
    }
    .header-container .mian-text{
        position: absolute;
        transform: translateX(50%);
        transform: translateY(50vh);
        color: gold;
        text-align: center;
    }
    .header-container .mian-text .p-text{
        font-size: 3ch;
        font-weight: 100;
        font-variant: small-caps;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header-container .mian-text .p-text .span-text{
        color:var(--color-primary);
        font-size: 3rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
        font-style: italic;
    }
    .btn{
        margin: 1rem;
        color: var(--color-primary2);
        width: 150px;
        height: 50px;
        padding: 2% 2%;
        background-color: var(--color-primary);
        border-radius: 10px;
        transition: 0.3s;
        outline: none;
        font-size: 18px;
        box-shadow: inset 50px 0 0 0 gold;
        overflow: hidden;
    }
    .btn:hover{
        box-shadow: inset -75px 0px 0px 0px gold;
        background-color: var(--color-primary);
    }
}